$ax-local-date-field-width: 11.5em;
$ax-local-date-field-min-width: 8.5em;

@mixin ax-local-date-field {
  .local-date-field {
    width: $ax-local-date-field-width;
    min-width: $ax-local-date-field-min-width;
    &.v-customcomponent-error {
      .v-datefield-textfield {
        @include valo-textfield-error-style;
      }
      .v-datefield-button {
        color: $v-error-indicator-color;
        border-color: $v-error-indicator-color;
      }
    }
    > .v-datefield {
      width: 100%;
    }
  }
}
