@mixin ax-local-date-time-field {
  .local-date-time-field {
    &.time-hidden {
      width: $ax-local-date-field-width;
      min-width: $ax-local-date-field-min-width;
    }
    &.time-visible {
      $fixed-width: $ax-local-date-field-min-width + $ax-local-time-field-min-width;
      width: $fixed-width;
      min-width: $fixed-width;
    }
    &.v-customcomponent-error {
      .v-datefield-textfield,
      .v-filterselect-input {
        @include valo-textfield-error-style;
      }
      .v-datefield-button,
      .v-filterselect-button {
        color: $v-error-indicator-color;
        border-color: $v-error-indicator-color;
      }
    }
    > .v-layout {
      display: table;
      width: 100%;
      > * {
        display: table-cell;
      }
      > .local-date-field {
        width: 100%;
      }
    }
    .v-caption-local-time-field > .v-errorindicator {
      display: none;
    }
  }
}
