$ax-localtimefield-width: 6em !default;
$ax-localtimefield-min-width: 6em !default;

@mixin ax-localtimefield {
  .ax-localtimefield {
    width: $ax-localtimefield-width;
    min-width: $ax-localtimefield-min-width;

    > .v-filterselect {
      width: 100%;
    }
  }

  .ax-localtimefield-error {
    .v-filterselect-input {
      @include valo-textfield-error-style;
    }
    .v-filterselect-button {
      color: $v-error-indicator-color;
      border-color: $v-error-indicator-color;
    }
  }
}
