@mixin ax-message {
  .ax-message .ax-window-content {
    &.v-label {
      font-size: $v-font-size--h3;
      min-width: 10em;
      max-width: 30em;
      white-space: normal;
      margin: 1rem;
    }
    &.stacktrace {
      font-size: 12px;
      min-width: 60em;
      font-family: monospace;
    }
  }
}
