/* Ax */
$ax-main-focus: #197de1;
$ax-main-bgrnd: #fff;
$ax-lite-color: #252525;
$ax-lite-bgrnd: #f0f0f0;
$ax-dark-color: #fff;
$ax-dark-bgrnd: #6b6b6b;

/* Valo Metro */
$v-font-family: "Source Sans Pro", sans-serif;
$v-app-loading-text: "";
$v-app-background-color: $ax-main-bgrnd;
$v-background-color: $ax-lite-bgrnd;
$v-focus-color: $ax-main-focus;
$v-focus-style: 0 0 0 1px $v-focus-color;
$v-bevel: false;
$v-shadow: false;
$v-gradient: false;
$v-border: 0 solid v-shade;
$v-border-radius: 0px;
$v-textfield-bevel: false;
$v-textfield-shadow: false;
$v-textfield-border: 1px solid v-shade;
$v-link-text-decoration: none;
$v-overlay-shadow: 0 0 0 2px #000;
$v-overlay-border-width: 2px;
$valo-menu-background-color: darken($v-focus-color, 10%);
$form-row-spacing: 0.4em;

@mixin valo-animate-in-fade($duration: 100ms, $delay: null) {
  @include animation(valo-animate-in-fade $duration $delay backwards);
}

@mixin valo-animate-in-slide-down($duration: 400ms, $delay: null) {
  @include animation(valo-animate-in-slide-down $duration $delay backwards);
}

@mixin valo-animate-in-slide-up($duration: 400ms, $delay: null) {
  @include animation(valo-animate-in-slide-up $duration $delay backwards);
}

@mixin valo-animate-in-slide-left($duration: 400ms, $delay: null) {
  @include animation(valo-animate-in-slide-left $duration $delay backwards);
}

@mixin valo-animate-in-slide-right($duration: 400ms, $delay: null) {
  @include animation(valo-animate-in-slide-right $duration $delay backwards);
}

@mixin master-detail {
  > .page-body {
    > .main-panel {
      width: 100%;
      box-sizing: border-box;
      padding-right: 40%;
    }
    > .right-panel {
      top: 90px;
      right: 0;
      width: 40%;
      position: fixed;
      box-sizing: border-box;
      padding: 0 15px;
      > .v-widget {
        display: block;
        position: relative;
        box-sizing: border-box;
        width: 100%;
      }
    }
  }
}

@import "fontawsome/font-awesome";

@mixin ax {

  @include valo;

  html {
    font-size: $v-font-size; // = 1rem
  }

  .v-ui {
    overflow: hidden !important;
  }

  .clear {
    clear: both;
  }
  .margin {
    padding: 10px;
  }
  .padding {
    padding: 10px;
  }

  .page-root, .page-body, .main-panel {
    width: 100%;
  }

  //TODO Rly?
  .fullscreen, .fullscreen .page-body, .fullscreen .main-panel {
    display: block;
    height: 100%;
  }

  > .page-body {
    > .main-panel {
      padding-top: 40px;
    }
    > .tabs-panel + .main-panel {
      padding-top: 90px;
    }

    > .tabs-panel {
      top: 40px;
      left: 0;
      right: 0;
      z-index: 900;
      position: fixed;
      background-color: #fff;
    }
  }


  .v-button-primary,
  .v-upload-primary .v-button {
    background: #197de1;
    padding: 0 15px;
    font-weight: 400;
  }

  .v-button-danger,
  .v-upload-danger .v-button {
    background: #ed473b;
  }

  .v-button-friendly,
  .v-upload-friendly .v-button {
    background: #2c9720;
  }

  .v-button-empty,
  .v-button-empty:hover,
  .v-button-empty:focus,
  .v-button-empty:active,
  .v-button-empty .v-button-wrap,
  .v-button-empty:focus .v-button-wrap,
  .v-button-empty:active .v-button-wrap,
  .v-button-empty.v-disabled,
  .v-button-empty.v-disabled:hover,
  .v-button-empty.v-disabled .v-button-wrap,
  .v-button-empty.v-disabled:hover .v-button-wrap,
  .v-button-empty.v-disabled:hover .v-button-wrap:hover {
    border: none;
    background: transparent;
    text-align: left;
    padding: 0;
    color: black;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ie-user-select: text;
    user-select: text;
  }

  .v-button:focus:after {
    border: 0;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }

  .v-upload-link .v-button {
    @extend .v-button-link;
    &:hover:after {
      background: none;
    }
  }

  .v-button-link,
  .v-upload-link .v-button {
    width: auto;
    height: auto;
    padding: 0;
    text-align: left;
    &:hover {
      text-decoration: underline;
    }
  }

  .v-menubar {
    color: $ax-dark-color;
    background: $ax-dark-bgrnd none;
    > .v-menubar-menuitem {
      margin-right: 0;
    }
    > .v-menubar-menuitem-primary, .v-menubar-menuitem-primary-right {
      background: #197de1;
    }
    > .v-menubar-menuitem-danger, .v-menubar-menuitem-danger-right {
      background: #ed473b;
    }
    > .v-menubar-menuitem-friendly, .v-menubar-menuitem-friendly-right {
      background: #2c9720;
    }
    > .v-menubar-menuitem-right, .v-menubar-menuitem-normal-right, .v-menubar-menuitem-primary-right,
    .v-menubar-menuitem-danger-right, .v-menubar-menuitem-friendly-right {
      float: right;
    }
  }
  .v-menubar:focus:after {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }

  .v-menubar-link {
    @include valo-link-style;
    background: none;
    width: auto;
    height: auto;
    line-height: inherit;
    > .v-menubar-menuitem {
      background: none;
      padding: 0;
      &:before {
        display: none;
      }
      &:after {
        font-family: FontAwesome;
        content: "\f078";
        font-size: 0.7em;
        vertical-align: 0.15em;
        margin: 0 -0.2em 0 0.5em;
        opacity: 0.5;
      }
      > .v-menubar-menuitem-caption {
        &:hover {
          text-decoration: underline;
        }
        &:after {
          display: none; // Nelze vypnout text-decoration
        }
        > .v-icon {
          margin-left: 0;
        }
      }
    }
    > .v-menubar-menuitem-selected {
      color: inherit;
    }
  }

  .v-window .v-menubar {
    width: 100%;
  }

  .v-menubar-popup {
    .v-menubar-menuitem {
      line-height: 40px;
    }
  }

  // Focus
  .v-button:focus,
  .v-upload input[type=file]:focus + .v-button,
  .v-upload input[type=file] + .v-button:focus {
    &:after {
      background-color: rgba(120, 120, 120, 0.1);
    }
  }
  .v-button.link:focus,
  .v-upload.link input[type=file]:focus + .v-button .v-button-caption,
  .v-upload.link input[type=file] + .v-button:focus .v-button-caption,
  .v-menubar.link:focus .v-menubar-menuitem-caption {
    text-decoration: underline;
  }
  .v-button.link:focus:after,
  .v-upload.link input[type=file]:focus + .v-button:after,
  .v-upload.link input[type=file] + .v-button:focus:after {
    background-color: inherit;
  }

  /* Components */
  .editor-horizontal {
    display: block;
    width: 60%;
    > .item-form {
      top: 80px;
      right: 0px;
      width: 40%;
      position: fixed;
      box-sizing: border-box;
      > .v-widget {
        display: block;
        position: relative;
        box-sizing: border-box;
        width: 100%;
      }
    }
  }

  .editor-vertical {
    display: block;
    > .item-form {
      width: 100%;
      > .v-widget {
        width: 100%;
        > table {
          width: 100%;
        }
      }
    }
  }

  .tiler {
    //@extend .padding;
    .tile {
      height: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border: 1px solid $ax-lite-bgrnd;
      font-size: 18px;
      font-weight: 200;
    }
  }

  .form-error {
    white-space: normal;
    color: $v-error-indicator-color
  }

  .item-form {
    padding: 10px;
    line-height: 1em;
    .caption {
      margin-top: 5px;
      margin-right: 5px;
      text-align: right;
      color: #6b6b6b;
    }
    .label-field {
      margin-top: 3px;
      margin-right: 10px;
      .v-label {
        font-size: 20px;
      }
    }
    .v-button {
      margin-top: 10px;
    }
  }

  /* Modifications */
  .v-formlayout {
    box-sizing: border-box;
    padding: 0 20px 10px;
    tbody > .v-formlayout-row:not(:first-child) > td {
      padding-top: $form-row-spacing;
    }
  }

  .v-checkbox {
    margin: 7px 5px 0px 0;
  }

  .v-datefield-popup .v-datefield-calendarpanel-day {
    background: white;
  }

  .v-table {
    font-size: 18px;
    font-weight: 200;
    &.has-item-click-listener .v-table-body tr {
      cursor: pointer;
    }
    .v-table-header-cell .v-checkbox {
      margin-top: -0.15em;
    }
    .v-table-cell-content {
      height: 30px;
      padding-top: 2px;
      .v-table-cell-wrapper {
        padding: 0 5px;
      }
    }
    .v-table-cell-content:first-child {
      .v-table-cell-wrapper {
        padding: 0 5px 0 10px;
      }
    }
    .v-table-cell-content:last-child {
      //TODO Hack table overflow http://dev.vaadin.com/ticket/15164
      .v-table-cell-wrapper {
        padding: 0 10px 0 5px;
      }
    }
  }

  .v-tabsheet-tabcontainer {
    .v-caption {
      font-size: 18px;
    }
    .v-tabsheet-tabitemcell:first-child .v-caption {
      margin-left: 10px !important;
    }

  }

  .window-root {
    width: 100%;
    > .v-layout {
      display: block;
      width: 100%;
    }
    > .page-header {
      > .window-caption {
        margin: 12px 18px 18px;
        font-size: 1.6em;
        font-weight: 400;
        color: $ax-main-focus;
      }
    }
    > .page-footer {
      > .menu-bar {
        width: initial;
        float: right;
        margin: 20px;
        font-size: 18px;
        background: inherit;
        > .v-menubar-menuitem {
          background-color: $ax-lite-color;
          margin-left: 10px;
        }
        > .v-menubar-menuitem-primary,
        .v-menubar-menuitem-primary-right {
          background-color: $ax-main-focus;
        }
      }
    }
  }

  .window-headerless .v-window-outerheader {
    display: none;
  }

  .window-confirm,
  .window-info {
    min-width: 200px;
    .main-panel {
      > .h2 {
        margin: 40px 40px 20px;
        white-space: normal;
      }
      > .v-button {
        margin-left: 40px;
      }
      > .stacktrace {
        width: 100%;
        height: 300px;
        overflow: auto;
        white-space: pre;
        border: 1px solid #EEEEEE;
        background-color: #FEFEFE;
      }
    }
  }

  .v-scrollable {
    overflow: hidden;
  }

  //TODO Hack table overflow http://dev.vaadin.com/ticket/15164
  .hack-noscroll {
    overflow: hidden;
  }

  .hack-noscroll .v-scrollable {
    overflow: hidden;
  }

  .hack-allow-v-scroll .v-scrollable {
    overflow-y: auto;
  }

  .v-window-contents > .v-scrollable:before {
    border: none;
  }

  .v-tabsheet-tabsheetpanel > .v-scrollable {
    overflow: hidden;
  }

  .exception-view {
    .main-panel {
      padding: 0;
    }
    .h2, .v-button {
      margin: 16px;
    }
    .v-textarea {
      overflow: scroll;
    }
  }

  // AxFormLayout
  .form-layout {
    display: inline-block;
    > .form-row {
      display: table-row;
      &:not(:first-child) > * {
        padding-top: $form-row-spacing;
      }
      > * {
        display: table-cell;
        line-height: $v-line-height 37px;
      }
      > .form-caption {
        white-space: nowrap;
        font-size: 0.875em;
        vertical-align: middle;
        padding-right: 1.5em;
        &.required:after {
          content: "*";
          color: $v-required-field-indicator-color;
          margin-left: 0.25em;
        }
      }
      > .form-value {
        white-space: normal;
        > .v-caption {
          > .v-captiontext {
            display: none; // Original field caption
          }
          > .v-required-field-indicator {
            display: none; // Original field require indicator
          }
          > .v-errorindicator {
            margin-left: -1.25em;
            margin-right: -1em;
          }
        }
        > .v-button {
          white-space: normal;
        }
      }
    }
    &.vertical {
      > .form-row {
        display: block;
        &:not(:first-child) > .form-value {
          padding-top: 0;
        }
        > .form-caption,
        > .form-value {
          display: block;
        }
      }
    }
  }

  // SelectionColumn
  .v-checkbox.radio > input ~ label {
    &:before {
      border-radius: 50%;
    }
    &:after {
      content: "\f111";
      font-size: 0.55em;
    }
  }

  // LocalDateField, LocalTimeField, LocalDateTimeField
  $local-date-field-width: 11.5em;
  $local-date-field-min-width: 8.5em;
  $local-time-field-width: 6em;
  $local-time-field-min-width: 6em;

  .local-date-field.v-customcomponent-error,
  .local-date-time-field.v-customcomponent-error {
    .v-datefield-textfield {
      @include valo-textfield-error-style;
    }
    .v-datefield-button {
      color: $v-error-indicator-color;
      border-color: $v-error-indicator-color;
    }
  }
  .local-time-field.v-customcomponent-error,
  .local-date-time-field.v-customcomponent-error {
    .v-filterselect-input {
      @include valo-textfield-error-style;
    }
    .v-filterselect-button {
      color: $v-error-indicator-color;
      border-color: $v-error-indicator-color;
    }
  }
  .local-date-field {
    width: $local-date-field-width;
    min-width: $local-date-field-min-width;
    > .v-datefield {
      width: 100%;
    }
  }
  .local-time-field {
    width: $local-time-field-width;
    min-width: $local-time-field-min-width;
    > .v-filterselect {
      width: 100%;
    }
  }
  .local-date-time-field {
    &.time-hidden {
      width: $local-date-field-width;
      min-width: $local-date-field-min-width;
    }
    &.time-visible {
      $fixed-width: $local-date-field-min-width + $local-time-field-min-width;
      width: $fixed-width;
      min-width: $fixed-width;
    }
    > .v-layout {
      display: table;
      width: 100%;
      > * {
        display: table-cell;
      }
      > .local-date-field {
        width: 100%;
      }
    }
    .v-caption-local-time-field > .v-errorindicator {
      display: none;
    }
  }

  .Aqua {
    background-color: #4FC1E9;
  }

  .Vender {
    background-color: #AC92EC;
  }

  .Jeans {
    background-color: #5D9CEC;
  }

  .Grass {
    background-color: #A0D468;
  }

  .Sunny {
    background-color: #FFCE54;
  }

  .Grape {
    background-color: #ED5565;
  }

  /* Barvy */
  .Clouds {
    background-color: #ecf0f1;
  }

  .Turquoise {
    background-color: #1abc9c;
  }

  .Emerald {
    background-color: #2ecc71;
  }

  .River {
    background-color: #3498db;
  }

  .Amethyst {
    background-color: #9b59b6;
  }

  .Asphalt {
    background-color: #34495e;
  }

  .Saddle {
    background-color: #8b4513;
  }

  .Sunflower {
    background-color: #f1c40f;
  }

  .Carrot {
    background-color: #e67e22;
  }

  .Alizarin {
    background-color: #e74c3c;
  }

  .Deeppink {
    background-color: #ff1493;
  }

  .Concrete {
    background-color: #95a5a6;
  }

}
