@mixin ax-common {
  .v-widget {
    &.right-aligned {
      float: right;
    }
    &.left-aligned {
      float: left;
    }
  }
  .v-button.secondary {
    background: black;
    color: white;
  }
}
