@mixin ax-messsage {
  .ax-message {
    .ax-window-content {
      &.v-label {
        font-size: 1.25em;
        min-width: 10em;
        max-width: 22em;
        white-space: normal;
        margin: 1rem;
      }
      &.stacktrace {
        font-size: 12px;
        min-width: 60em;
        font-family: monospace;
      }
    }
  }
}
