// Ax
$ax-primary-color: #0072C6 !default;
$ax-secondary-color: #202020 !default;
$ax-link-text-decoration-hover: underline !default;

// Vaadin
$v-font-family: Helvetica, Arial, sans-serif !default;
$v-font-size: 14px !default;
$v-font-weight: 400 !default;
$v-focus-color: $ax-primary-color !default;
$v-panel-border: 1px solid $v-background-color !default;
