// Ax
$ax-primary-color: #0072C6 !default;
$ax-secondary-color: #202020 !default;
$ax-warning-indicator-color: orange !default;
$ax-link-text-decoration-hover: underline !default;

// Vaadin
$v-font-family: Helvetica, Arial, sans-serif !default;
$v-font-size: 13px !default;
$v-font-weight: 400 !default;
$v-caption-font-size: $v-font-size;
$v-table-header-font-size: $v-font-size;
$v-focus-color: $ax-primary-color !default;
$v-panel-border: 1px solid $v-background-color !default;
